extends default

block content
    div.outerFrame
        div.innerFrame
            // h1(style="margin-bottom: 50px") Hello I'm Solopie!
            img.bubble(src="images/icons/github_icon.png")
            img.bubble(src="images/icons/projects_icon.png")
            img.avatar(src="images/Solopie Avatar Transparent.png")
            img.bubble(src="images/icons/resume_icon.png")
            img.bubble(src="images/icons/linkedin_icon.png")

