extends default

block content
    div.outerFrame
        div.innerFrame
            img.bubble(src="images/icons/github_icon.png")
            img.bubble(src="images/icons/projects_icon.png")
            img.avatar(src="images/solopie_avatar_transparent.png")
            img.bubble(src="images/icons/resume_icon.png")
            img.bubble(src="images/icons/linkedin_icon.png")
            // TVNHMSMgQW4gdW51c2VkIGltYWdlIHRlbGxzIGEgaHVuZHJlZCBzdG9yaWVz

