extends default

block content
    div.outerFrame
        div.innerFrame
            a(href="https://github.com/Solopie")
                img.bubble(src="images/icons/github_icon.png"  alt="Github")
            a(href="/projects") 
                img.bubble(src="images/icons/projects_icon.png" alt="Projects")
            img.avatar(src="images/solopie_avatar_transparent.png" alt="Solopie Avatar")
            a(href="/resume")
                img.bubble(src="images/icons/resume_icon.png" alt="Resume")
            a(href="https://www.linkedin.com/in/jesse-nguyen-687859157/")
                img.bubble(src="images/icons/linkedin_icon.png"  alt="Linkedin")
            // TVNHMSMgQSB1c2VsZXNzIGltYWdlIHRlbGxzIGEgaHVuZHJlZCBzdG9yaWVz

